#imagelogo {
    position: relative;

    float: left;
    width: 250px;
    height: 250px;
}

nav {
    overflow: hidden;
    background-image: url("C:/Users/rapha/OneDrive/Bureau/travail cine/affiche_vivre.png");
    position: fixed;
    width: 100%;
    opacity: 0.9;

}

header {
    position: fixed;
    top: 0px;
    width: 100%;
}

header li {
    float: right;
    list-style-type: none;

}

header li a {
    text-decoration: none;
    display: block;
    padding: 25%;
    color: black;
    -webkit-text-stroke: 0.2px red;
}

#logo1 {
    font-weight: bold;
    float: left;
    position: relative;
    left: 1000px;
    font-size: 34px;
}

#logo2 {
    font-weight: bold;
    float: left;
    position: relative;
    left: 850px;
    font-size: 30px;

}

#logo3 {
    font-weight: bold;
    float: left;
    position: relative;
    left: 35px;
    font-size: 65px;
}

button {
    font-size: 1.5em;
    background-color: red;
    padding: 15px 10px;
    position: absolute;
    left: 180px;
    top: 240px;
    border-radius: 15px;
}

button:hover {
    background-color: #fffae1;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#accueil {
    position: relative;
    left: 470px;
    top: 1px;
}

#tout {
    position: relative;
    top: 1px;
    left: 490px;
}

#propos {
    position: relative;
    left: 520px;
    top: 1px;
}

#contact {
    position: relative;
    left: 550px;
    top: 1px;
}

.degrade-horizontal {
    background: linear-gradient(to right, grey, black);

}

div {
    position: relative;
    top: 250px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-top: 25%;
    color: black;
    -webkit-text-stroke: 0.2px red;
    font-family: 'roboto';
    font-size: 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

#envoyer {
    position: relative;
    top: 50%;
}